body{
  margin: 0px;
  padding-top: 10vh;
  background-color: #e6f4ff;
  overflow-x: hidden;
}

nav *{
  color:black; 
}

#navFont *{
  color:black;
}

#listings .col{
  text-align: center;
  padding-bottom: 25px;
  color:white;
}

#listings .row {
  padding-left:25px;
}

#listings img{
  width:100%;
}

#sidebar h5{
  padding-left: 15px;
  padding-top: 10px;
  color:white;
}

#navbarSupportedContent li{
  padding-left: 15px;
}